<main class="container-fluid">
  <section class="row">
    <div class="title"></div>
    <div class="filters row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="bold">Pedidos</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="bold">Criterios de Busqueda</h4>
      </div>
      <form class="example-form">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="platform-id">ID Plataforma</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" placeholder="ID Plataforma" id="platform-id">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="order-number">Nº Pedido</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" placeholder="Número" id="order-number">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Desde</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Hasta</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Desde</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Hasta</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Desde</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Creado Hasta</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="date" class="form-control" placeholder="Fecha Creado" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="basic-url">Apellido</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" placeholder="Apellido" id="basic-url">
        </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Instancia</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="select" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <label for="basic-url">Tipo</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="basic-url">Estado</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label for="basic-url">Tarea Actual</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="basic-url">Grupo de Clientes</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="basic-url">Tienda</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <label for="basic-url">Forma de Pago</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="basic-url">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <br>
              <button class="btn btn-primary button">test</button>
              <button class="btn btn-success button">test</button>
              <button class="btn btn-warning button button-warning">test</button>
            </div>
          </div>   
        </div>
      </form>      
    </div>
    <div class="table">
      <ng2-smart-table [settings]="settings"></ng2-smart-table>`
    </div>
  </section>
</main>
